@font-face {

    src: url("../../assets/fontgame.ttf");
    font-family: FontGame;
}
.game_container{
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    font-family: FontGame;
}